<header>
    <nav class ="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
          <a class="nav-brand">
             <img src="./assets/images/logo_idaratech.png" class="me-3" alt="logo">             
          </a>
          <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                   <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">A Propos</a>
                 </li>                
            </ul>

            <ul class="navbar-nav">
                <li>
                    <a class="btn btn-secondary mx-2" routerLink="/account/register" routerLinkActive="active">
                        Créer un compte 
                    </a>
                </li>
                <li>
                    <a class="btn btn-secondary" routerLink="/account/login" routerLinkActive="active">
                        Se connecter
                    </a>
                </li>                
            </ul>

          </div>
      </div>
    </nav>
   </header>
